openapi: 3.1.0
info:
  title: Chase Account Aggregation User Consent Accounts Enrollments API
  description: Consent management API for the Chase FDX aggregation platform. Supports requesting, retrieving, updating, and revoking user consent for sharing account data with authorized data recipients.
  version: '1.0'
  contact:
    name: Chase Developer Support
    url: https://developer.chase.com/support
servers:
- url: https://api.chase.com/aggregation/consent
  description: Chase Consent Production
security:
- oauth2: []
tags:
- name: Enrollments
paths:
  /enrollments:
    post:
      operationId: createEnrollment
      summary: Enroll a card in Pay with Points
      tags:
      - Enrollments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - cardToken
              - merchantId
              properties:
                cardToken:
                  type: string
                merchantId:
                  type: string
                customerId:
                  type: string
      responses:
        '201':
          description: Enrollment created
  /enrollments/{enrollmentId}:
    get:
      operationId: getEnrollment
      summary: Get an enrollment record
      tags:
      - Enrollments
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Enrollment
    delete:
      operationId: revokeEnrollment
      summary: Revoke a Pay with Points enrollment
      tags:
      - Enrollments
      parameters:
      - name: enrollmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Enrollment revoked
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.chase.com/oauth2/authorize
          tokenUrl: https://api.chase.com/oauth2/token
          scopes:
            consents.write: Manage consents
            consents.read: Read consents
externalDocs:
  description: Account Aggregation User Consent
  url: https://developer.chase.com/products/aggregation-consent/
