openapi: 3.1.0
info:
  title: Chase Account Aggregation User Consent Accounts Transactions API
  description: Consent management API for the Chase FDX aggregation platform. Supports requesting, retrieving, updating, and revoking user consent for sharing account data with authorized data recipients.
  version: '1.0'
  contact:
    name: Chase Developer Support
    url: https://developer.chase.com/support
servers:
- url: https://api.chase.com/aggregation/consent
  description: Chase Consent Production
security:
- oauth2: []
tags:
- name: Transactions
paths:
  /accounts/{accountId}/transactions:
    get:
      operationId: listAccountTransactions
      summary: List account transactions
      tags:
      - Transactions
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: startTime
        in: query
        schema:
          type: string
          format: date-time
      - name: endTime
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Transactions list
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.chase.com/oauth2/authorize
          tokenUrl: https://api.chase.com/oauth2/token
          scopes:
            consents.write: Manage consents
            consents.read: Read consents
externalDocs:
  description: Account Aggregation User Consent
  url: https://developer.chase.com/products/aggregation-consent/
