openapi: 3.2.0
info:
  title: Chase Account and Customer Information Tax Forms API
  description: FDX-aligned API for retrieving Chase customer account information, balances, transactions, statements, and tax forms with explicit customer consent.
  version: '5.2'
  contact:
    name: Chase Developer Support
    url: https://developer.chase.com/support
servers:
- url: https://api.chase.com/aggregation/fdx
  description: Chase FDX Aggregation Production
security:
- oauth2: []
tags:
- name: Tax Forms
paths:
  /accounts/{accountId}/tax-forms:
    get:
      operationId: listTaxForms
      summary: List tax forms for an account
      tags:
      - Tax Forms
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tax forms list
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.chase.com/oauth2/authorize
          tokenUrl: https://api.chase.com/oauth2/token
          scopes:
            accounts.read: Read account data
            transactions.read: Read transactions
            statements.read: Read statements
            tax-forms.read: Read tax forms
            customers.read: Read customer profile
externalDocs:
  description: Account and Customer Information API Guide
  url: https://developer.chase.com/products/aggregation-fdx/guides/using-the-account-and-customer-information-api/
