openapi: 3.2.0
info:
  title: Chase Account Aggregation User Consent Accounts Rewards……
  description: Consent management API for the Chase FDX aggregation platform. Supports requesting, retrieving, updating, and revoking user consent for sharing account data with authorized data recipients.
  version: '1.0'
  contact:
    name: Chase Developer Support
    url: https://developer.chase.com/support
servers:
- url: https://api.chase.com/aggregation/consent
  description: Chase Consent Production
security:
- oauth2: []
tags:
- name: Rewards Balance
paths:
  /balances:
    post:
      operationId: getRewardsBalance
      summary: Retrieve a rewards balance for a tokenized card
      tags:
      - Rewards Balance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - cardToken
              properties:
                cardToken:
                  type: string
                  description: PCI-compliant card token issued by Chase.
                merchantId:
                  type: string
      responses:
        '200':
          description: Rewards balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  cardToken:
                    type: string
                  pointsBalance:
                    type: integer
                  cashValue:
                    type: number
                  currency:
                    type: string
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.chase.com/oauth2/authorize
          tokenUrl: https://api.chase.com/oauth2/token
          scopes:
            consents.write: Manage consents
            consents.read: Read consents
externalDocs:
  description: Account Aggregation User Consent
  url: https://developer.chase.com/products/aggregation-consent/
