openapi: 3.1.0
info:
  title: Chase Loyalty Pay with Points Order Service API
  description: >-
    Order service that lets merchants redeem Chase Ultimate Rewards points
    against purchases. Supports order creation, capture, refund, and
    reversal flows.
  version: '1.0'
  contact:
    name: Chase Developer Support
    url: https://developer.chase.com/support
servers:
  - url: https://api.chase.com/loyalty/pay-with-points/orders
    description: Pay with Points Production
tags:
  - name: Orders
  - name: Refunds
security:
  - oauth2: []
paths:
  /orders:
    post:
      operationId: createOrder
      summary: Create a Pay with Points order
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cardToken, merchantId, amount]
              properties:
                cardToken:
                  type: string
                merchantId:
                  type: string
                amount:
                  type: number
                pointsToRedeem:
                  type: integer
                currency:
                  type: string
      responses:
        '201':
          description: Order created
  /orders/{orderId}:
    get:
      operationId: getOrder
      summary: Get a Pay with Points order
      tags: [Orders]
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
  /orders/{orderId}/capture:
    post:
      operationId: captureOrder
      summary: Capture a Pay with Points order
      tags: [Orders]
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order captured
  /orders/{orderId}/refunds:
    post:
      operationId: refundOrder
      summary: Refund a Pay with Points order
      tags: [Refunds]
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                reason:
                  type: string
      responses:
        '201':
          description: Refund issued
  /orders/{orderId}/reverse:
    post:
      operationId: reverseOrder
      summary: Reverse a Pay with Points order
      tags: [Orders]
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order reversed
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.chase.com/oauth2/token
          scopes:
            orders.write: Create and modify orders
